// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap.scss';

// AdminLTE
@import 'admin-lte/src/scss/adminlte.scss';

// Fontawesome
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';

//Datatables
@import 'datatables.net-bs5/css/dataTables.bootstrap5';
@import 'datatables.net-responsive-bs5/css/responsive.bootstrap5';

//Toastr
@import 'toastr/build/toastr.min.css';

//VueMultiselect
@import 'vue-multiselect/dist/vue-multiselect.css';

.toast-success { background-color: $green !important; }
.toast-warning { background-color: $orange !important; }
.toast-error { background-color: $red !important; }